/* Colors */
:root {
    --primary-color: #6C63FF;
    --secondary-color: #C2C2C2;
    --light-color: #fff;
    --dark-color: #1F1F1F;
    --primary-bg-color: #EBEBEB;
    --secondary-bg-color: #292929;
}

/* General */
* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
}

a {
    text-decoration: none;
}

/* Utilities */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.light-color {
    color: var(--light-color);
}

.dark-color {
    color: var(--dark-color);
}

.primary-bg-color {
    background-color: var(--primary-bg-color);
}

.secondary-bg-color {
    background-color: var(--secondary-bg-color);
}

/* Header */
#header .navbar {
    background-color: var(--primary-bg-color);
    border-bottom: 2px solid var(--primary-color);
}

#header .navbar-brand span {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
}

#header .navbar-toggler {
    border: none;
    padding: 4px 0 4px 12px;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}

#header .navbar-toggler i,
#header .offcanvas-header i {
    color: var(--primary-color);
}

#header .navbar-toggler i {
    font-size: 28px;
}

#header .offcanvas-title {
    font-size: 24px;
}

#header .offcanvas-header button {
    border: none;
    font-size: 32px;
}

#header .nav-link {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    transition: .5s;
}

#header .nav-link:hover {
    color: var(--dark-color);
}

/* Main */
#main .carousel-indicators button {
    background-color: var(--light-color);
    opacity: 1;
}

#main .carousel-indicators button.active {
    background-color: var(--primary-color);
}

#main .carousel-item img {
    height: 200px;
    border-bottom: 2px solid var(--primary-color);
}

#main .carousel-caption h4 {
    font-size: 1.5em;
}

#main .carousel-caption p {
    font-size: 1.2em;
}

#main .carousel-control-prev,
#main .carousel-control-next {
    display: flex;
    align-items: center;
    opacity: 1;
}

#main .carousel-control-prev i,
#main .carousel-control-next i {
    color: var(--light-color);
    font-size: 24px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 32px 0;
}

.title h1 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

.title p {
    margin-bottom: 0;
}

/* About Section */
#about-section .about-image-container {
    height: 400px;
}

#about-section .about-image-container img {
    border: 2px solid var(--primary-color);
}

#about-section .about-text-container {
    background-color: var(--light-color);  
    border-right: 2px solid var(--primary-color);
    padding: 16px 8px;
    margin-top: 16px;
}

#about-section .about-text-container h4 {
    margin-bottom: 16px;
}

/* Product Section */
#product-section {
    margin-top: 32px;
}

#product-section .container {
    padding: 0;
}

#product-section .row {
    margin: 32px 0;
}

#product-section .card {
    background-color: var(--light-color);
    border: none;
    border-radius: 0;
}

#product-section .card img {
    width: 100px;
    max-height: 200px;
    margin: 0 auto;
}

#product-section .card h6 {
    margin-bottom: 8px;
}

#product-section .card-footer {
    background-color: var(--light-color);
    border-top: 2px solid var(--primary-color);
}

#product-section .card-footer a {
    transition: .5s;
}

#product-section .card-footer a:hover {
    color: var(--dark-color);
}

.product-banner {
    text-align: center;
    padding: 32px 8px;
}

.product-text h2,
.product-text p {
    margin: 0;
}

.product-text h1 {
    margin: 16px 0;
}

.product-text .btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 700;
    padding: 8px 32px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: .5s;
    margin-top: 32px;
}

.product-text .btn:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

.product-image img {
    width: 200px;
    height: 300px;
    margin-top: 32px;
}

/* Event Section */
#event-section .row {
    margin-bottom: 32px;
}

#event-section .card {
    background-color: var(--light-color);
    border-top: none;
    border-right: 2px solid var(--primary-color);
    border-bottom: none;
    border-left: none;
    border-radius: 0;
}

#event-section .card img {
    max-height: 220px;
    border-radius: 0;
}

#event-section .card h6 {
    margin-bottom: 8px;
}

#event-section .card-footer {
    background-color: var(--light-color);
    border: none;
}

#event-section .card-footer a {
    transition: .5s;
}

#event-section .card-footer a:hover {
    color: var(--dark-color);
}

/* Contact Section */
#contact-section {
    margin-bottom: 32px;
}

#contact-section .contact-image-container {
    height: 400px;
}

#contact-section .contact-image-container img {
    border: 2px solid var(--primary-color);
}

#contact-section .contact-text-container {
    background-color: var(--light-color);  
    border-left: 2px solid var(--primary-color);
    padding: 16px 8px;
    margin-bottom: 16px;
}

#contact-section .contact-text-container h4 {
    margin-bottom: 16px;
}

/* Footer */
#footer {
    border-top: 2px solid var(--primary-color);
    padding: 32px 8px;
    text-align: center;
}

#footer .footer-links {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer .footer-links a {
    color: var(--secondary-color);
    transition: .5s;
}

#footer .footer-links a:hover {
    color: var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--primary-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* Responsive */
@media screen and (min-width: 425px) {
    /* Main */
    #main .carousel-item img {
        height: 225px;
    }

    /* About Section */
    #about-section .about-image-container {
        height: 450px;
    }

    /* Event Section */
    #event-section .card img {
        max-height: 250px;
    }

    /* Contact Section */
    #contact-section .contact-image-container {
        height: 450px;
    }
}

@media screen and (min-width: 768px) {
    /* Header */
    #header .container {
        padding-left: 24px;
    }

    #header .navbar-toggler {
        padding: 4px 8px 4px 12px;
    }

    /* Main */
    #main {
        padding: 0 24px;
    }

    #main .carousel-item img {
        height: 450px;
    } 

    #main .carousel-control-prev i,
    #main .carousel-control-next i {
        font-size: 28px;
    }

    /* About Section */
    #about-section {
        padding: 0 24px;
    }

    #about-section .about-text-container {
        height: 100%;
        margin-top: 0;
    }

    /* Product Section */
    #product-section .container {
        padding: 0 12px;
    }

    .product-banner {
        padding: 32px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .product-image img {
        margin-top: 0;
    }

    /* Event Section */
    #event-section .row {
        margin: 0 0 32px;
    }

    #event-section .card {
        max-height: 350px;
    }

    #event-section .card img {
        height: 250px;
    }

    /* Contact Section */
    #contact-section {
        padding: 0 24px;
    }

    #contact-section .contact-text-container {
        height: 100%;
        margin-bottom: 0;
    }

    /* Footer */
    #footer {
        padding: 32px 100px;
    }
}

@media screen and (min-width: 1024px) {
    /* Header */
    #header .navbar-nav {
        margin-right: -12px;
    }

    #header .navbar-nav li {
        margin-right: 1em;
    }

    /* Main */
    #main .carousel-item img {
        height: 550px;
    }

    #main .carousel-caption h4 {
        font-size: 2em;
    }
    
    #main .carousel-caption p {
        font-size: 1.5em;
    }

    #main .carousel-control-prev i,
    #main .carousel-control-next i {
        font-size: 32px;
    }

    /* About Section */
    #about-section .about-image-container {
        height: 475px;
    }

    /* Product Section */
    .product-banner {
        padding: 64px 300px;
    }

    /* Event Section */
    #event-section .card {
        max-height: 400px;
    }

    /* Contact Section */
    #contact-section .contact-image-container {
        height: 475px;
    }

    /* Footer */
    #footer {
        padding: 32px 400px;
    }
}
